* {
    background-color: #f4f5e5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 2%;
    color: #545454;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #000;
}

header {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#div_inicial{
    display: flex;
    flex-direction: column;
}

#fotoada_ham {
    display: flex;
    height: 40%;
    width: 40%;
    margin-left: 30%;
}

h3{
    color: #000;
    font-size: 30px;
    margin-top: 5%;
}

#subtitol{
    color: #545454;
    font-size: 20px;
    margin: 2%;
}

#div1{
    display: flex;
    margin-left: 17%;
    align-items:center;
}

#foto1 {
    height: 20%;
    width: 40%;
}

#div2{
    display: flex;
    margin-left: 22%;
    align-items: center;
}

#foto2 {
    height: 35%;
    width: 35%;
}

#div3{
    display: flex;
    margin-left: 23%;
    align-items: center;
}

#foto5{
    height: 25%;
    width: 40%;
}

#div4{
    display: flex;
    margin-left: 26%;
    align-items: center;
}

#foto6{
    height: 20%;
    width: 30%;
}

#div5 {
    display:flex;
    margin-left: 23%;
    align-items: center;
}

#foto9{
    height: 35%;
    width: 40%;
}

#div6{
    display: flex;
    align-items: center;
    margin-left: 17%;
}

#video1{
    height: 35%;
    width: 40%;
}

#div7{
    display: flex;
    align-items: center;
    margin-left: 15%;
}

#foto11{
    height: 30%;
    width: 35%;
}

.boto:hover{
    color: #af3ce5;
}